.thread-item-info {
  display: flex;
}

.thread-item-info__description {
  margin-left: 2rem;
}

.interaction-item__text-left {
  width: 60px;
  display: inline-block;
  text-align: left;
}

.interaction-item__number-right {
  width: 40px;
  display: inline-block;
  text-align: right;
}

.latest-post {
  display: flex;
}

.latest-post__avatar {
  margin-left: 1rem;
}
